default:
  image: node:16.16.0

deploy_production:
  stage: deploy
  only:
    - main
  rules:
    - changes:
        - website/**/*
  script:
    - npm install --global vercel
    - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
    - vercel build --prod --token=$VERCEL_TOKEN
    - vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
