.vk-key {
  transition: box-shadow 0.1s, border 0.1s, transform 0.07s;
  border: 1.5px solid transparent;
  box-shadow: none;
  background: inherit;
}

.vk-key.selected {
  border: 2.5px solid #2563eb;
  box-shadow: 0 0 0 2px #93c5fd;
  z-index: 2;
}

.vk-key.down {
  transform: scale(0.96) translateY(2px);
  box-shadow: 0 2px 8px 0 #0002;
  background: #e0e7ef;
}

button:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3)) !important;
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3)) !important;
  border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3)) !important;
}
